@import '../../style/variables.scss';
.login_page{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.head_Title{
    @include title(35px,300);
}
.form_log{
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    // border: 2px solid black;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    input{
        box-shadow: rgba(142, 173, 127, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        @include title(20px,300);
        width: 400px;
        height: 45px;
        border-radius: 15px;
        border: 0;
    }
    input::placeholder{
        @include title(15px,300);
    }
    input:focus{
        border: 0;
        outline: 2px solid $color_green;
    }
}

.Btn{
    @include title(25px,700);
    width: 400px;
    height: 45px;
    border-radius: 15px;
    cursor: pointer;
    border: 0;
    
    background-color:$color_green;
    color: white;
}
.Btn:hover{
    width: 420px;
    height: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}