@import '../../style/variables.scss';

.header{
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    height: 80px;
    padding: 10px;
    background-color: $color_green;
    display: flex;
    justify-content: space-between;
}

.Link_block{
    margin:20px 50px 0 0;
    font-size: 35px;
    font-weight: 300;
    width: 300px;
    display: flex;
    justify-content: space-around;
    p{
        text-align: center;
    }
    a{
        color: rgb(0, 0, 0);
        text-decoration: none;
    }
    a:hover{
        font-size: 40px;
        color: white;
    }
    a:focus{
        color: white;
    }
}

.avatar{
    margin-left: 50px;
    fill: white;
    width: 100px;
    height: 100px;
}