.group_button{
    padding:50px 200px 0 0 ;
    display: flex;
    justify-content: flex-end;
}

.title_Haeder{
    input{
        margin: 5px;
    }
    textarea{
        width: 450px;

    }
    .about_text{
        margin: 20px 0 0 0;
    }
}

.input_text{
    color: white;
}