@import '../../style/variables.scss';

.globalBlock{
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p{
    margin: 0;
    padding: 0;
}
.Cv{
    width: 900px;
    height: 1100px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(255, 251, 255);
    position: relative;
    .img_av{
        border-radius: 90px;
        margin-top: 25px;
        position: absolute;
        left: 25px;
        z-index: 1;
        width: 235px;
        height: 380px;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    }
}
.headerCv{
    position: absolute;
    top: 80px;
    width: 100%;
    height: 230px;
    background-color: rgb(137, 130, 121);
    .title_Haeder{
        width: 450px;
        display: flex;
        text-align: center;
        flex-direction: column;
        line-height: 18px;
        position: absolute;
        color: white;
        left: 360px;
    }
    
    .about_text{
        text-align: start;
        align-self: flex-start;
    }
}
.p1{
    margin: 28px 0 12px 0;
   @include title(20px,700);
}
.p2{
    margin: 0px 0 15px 0;
    @include title(15px,300);
}
.p3{
    @include title(15px,300);
    text-align: justify;
}
.main_Cv{
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    top: 430px;
    .skills{
        width: 50%;
    }
    .list{
        line-height: 25px;
    }
    .experience{
        width: 360px;
        margin-left: 40px;
        
    }
    .contact{
        margin-top:60px ;
        width: 50%;
    }
    .education{
        margin-top:60px;
        margin-left: 40px;
        width: 360px;
    }
}
.s2{
    @include title(20px,700);
    text-align: center;
    margin-bottom: 10px;
}
.s1{
    margin-bottom: 15px;
    color: rgb(137, 130, 121);
    font-style: italic;
    @include title(17px,700)
}
.text_o{
    margin: 10px 0 10px 0;
}




